.header{
	background-color: #f9f9f9;	
	border-bottom:1px solid #ececec ;
	@media(max-width: 992px){
		display: none;
	}
	.social-lst{
		float: left;
		list-style: none;
		padding-left:0;
		margin-bottom: 0;
		li{
			float: left;
			margin-left: 20px;
			padding-top: 10px;
			padding-bottom: 10px;
			&:first-child{
				margin-left: 0;
				padding-left:20px;
				border-left: 1px solid #ececec ;
			}
			&:last-child{				
				padding-right:20px;
				border-right: 1px solid #ececec ;
			}
			a{
				color: #c1c1c1;
			}
		}
	}
	.contact-info{
		float: right;				
		.hotline-block{			
			float: left;
			border-left: 1px solid #ececec ;
			padding-left:15px;
			padding-top:10px;
			padding-bottom:10px;
			.hotline-icon{
				float: left;
				margin-top: 5px;
			}
			.hotline-txt{
				float: left;
				margin-left: 5px;
				font-family: $f2_regular;
				font-size: 12px;
				color: #000000;
				margin-top: 5px;
			}
		}	
		.live-chat-block{
			float: left;
			margin-left: 15px;
			.live-chat-txt{
				font-family: $f2_regular;
				font-size: 12px;
				color: #000000;
				float: left;
				text-transform: uppercase;
				margin-top: 5px;
				border-left: 1px solid #ececec;
				padding-left: 15px;
				padding-top: 12px;
				padding-bottom: 12px;
			}	
			.live-chat-icon{
				float: left;					
				padding-top: 12px;
				padding-bottom: 12px;				
				.live-chat-skype-online{
					float: left;
					margin-left: 5px;
				}	
				.live-chat-skype-offline{
					float: left;
					margin-left: 5px;
				}	
			}			
		}	
		.language-block{
			float: left;
			border-left: 1px solid #ececec;
			padding-left: 15px;
			padding-top: 12px;
			padding-bottom: 12px;
			margin-left: 15px;
			border-right: 1px solid #ececec;
			padding-right:15px;
			.language-vi{
				float: left;
			}
			.language-en{
				float: left;
				margin-left: 5px;
			}
		}
	}
}
.banner_slideshow{
	position:relative;
	margin-top: 15px;
	.owl-carousel-banner{
		.owl-dots {
			position: absolute;
			bottom: 20px;
			left: 0;
			width: 100%;
			.owl-dot{
				span{
					width: 17px;
					height: 7px;
				}
				&:hover{
					span{
						background: #ed9205;
					}
				}
			} 
			.owl-dot.active{
				span{
					background: #ed9205;
				}
			}   
		}
		.owl-theme {
			.owl-nav{
				margin-top: 0;
			}
			.owl-nav.disabled+.owl-dots{
				margin-top: 0;
			}
		}	
	} 
	.slideshow-box{
		.slogan-banner{
			position:absolute;
			top :0;
			left :0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 1;
			.slogan-ger{
				.slogan-txt{
					font-family: $f3_bold;
					font-size: 48px;
					color: #fff;
					text-transform: uppercase;
					text-align: center;
					@media(max-width: 992px){
						font-size: 30px;
					}
					@media(max-width: 576px){
						font-size: 20px;
					}
					@media(max-width: 360px){
						display: none;
					}					
				}
				.slogan-excerpt{
					font-family: $f3_regular;
					font-size: 16px;
					color: #fff;
					text-align: center;
					@media(max-width: 360px){
						display: none;
					}
				}
			}		
		}
	}	
}	
.header-menu{
	@media(max-width: 992px){
		display: none;
	}
	.logo{
		float: left;
		margin-top: 15px;
	}
	.ddsmoothmenu{  
		float: left;
		width: auto;
		margin-left:80px;
		margin-top: 25px;
		background:none;
		@media(max-width: 1024px){
			margin-left: 0px;
		}
		ul{
			li{
				ul{
					li{
						a{ 
							font-family:$f_regular;
							font-size: 14px;
							text-transform: uppercase;                            
							&:link,&:visited{
								color: #000;
							}          
						}
					}
				}
			}    
		}
		>ul{    
			>li{
				&:last-child{
					background-image:url('../img/account-icon.png');
					background-repeat:no-repeat;
					display: block;
					background-position:10px 10px;
					padding-left:5px;
					@media(max-width: 1024px){
						background-position:0px 15px;
						padding-left:10px;
					}
				}
				>a{
					font-family: $f2_regular;
					font-size: 14px;
					text-transform: uppercase;               
					background:transparent;                 
					padding: 10px 10px;
					border-right:1px solid #f2f2f2;         
					&:link,&:visited{
						color: #000;
					}                     
					&:hover,&.selected{            
						color: #000;
						background:none;
					} 
					@media (max-width: 1024px){
						padding:15px 5px;  
					}
				}
				&:last-child{
					a{
						border-right: 0;
						padding:10px 0px 0px 25px;
						@media(max-width: 1024px){
							padding:15px 0px 0px 10px;
						}
					}
				} 
				&.current-menu-item{
					>a{          
						color: #000;
					}
				}   
			}
		}
		>ul{
			>li{      
				>ul{
					margin-top: 3px;
					li{
						a{
							border-right: 1px solid darken(#fff,2%) ;
							border-bottom: 1px solid darken(#fff,2%);
							width: 220px;
							padding: 6px 10px;   
							font-family: $f_bold;                     
							&:hover,&.selected{
								background-color: $logo_bg !important;
								color: $mau;            
							}
						}
						&.current-menu-item{
							a{
								background-color: $logo_bg !important;                           
							}
						}   
					}
				}
			}    
		}  
	}
	.search-box{
		float: left;
		margin-left: 10px;
		margin-top:30px;
		@media(max-width: 1024px){
			margin-left: 5px;
			margin-top: 35px;
		}
		a{
			color: #000000;
		}
	}
}
.navbar{
	background:transparent !important; 
	display: none;
	position: relative;
	padding: 20px 0;
	@media(max-width: 992px){
		display: block;
	}
	.navbar-toggler{
		border:0;			
		float: right;
		margin-top: 0px;
		margin-right: 15px;
		outline: none;
		.navbar-toggler-icon{
			background-image: url("../img/nav-line.png");
		}
	}
	.box_logo_mobile{
		width: 100px;
		position: absolute;
		left: 50%;
		top: 25px;
		margin-left: -50px;		
	}
	.navbar-collapse{
		padding-left:0px;
		padding-right:0px;
		>ul{
			list-style: none;
			padding-left:0px;
			padding-right:0px;
			margin-bottom: 0;
			border-top:1px solid #2e2dff;						
			border-bottom:1px solid #2e2dff;
			margin-top: 10px;
			>li{
				background-color:#0100cb;
				>a{
					display: block;
					padding: 5px 10px;
					border-bottom: 1px solid #2e2dff;
					color: #fff;
					&:hover{
						background-color:#0100ff;
					}
				}
				&:last-child{
					a{
						border-bottom:0;
					}
				}
			}
		}		
	}
}
.who-we-are-title{
	font-family: $f2_bold;
	font-size: 24px;
	color: #303030;
	text-transform: uppercase;
	position:relative;
	padding-bottom: 20px;
	margin-top: 50px;
	&:before{
		position:absolute;
		content: '';
		border-top:2px solid #ed9205;
		bottom: 0;
		left: 0;
		width: 100px;
	}
}
.who-we-are-excerpt{
	margin-top: 20px;
}
.saling-schedule{
	padding:20px;
	background-color:#f6f6f6;
	border:1px solid #d7d7d7;
	background-image:url('../img/chau-luc.png');
	background-repeat:no-repeat;
	background-size:cover;
	.cut-off-date{
		.cut-left{
			font-family: $f2_regular;
			font-size: 13px;
			color: #676767;
			text-transform: uppercase;
		}
		.cut-right{
			color: #d00006;
		}
	}
	.schedule-txt-box{
		margin-top:10px;
		.schedule-box-1{
			float: left;			
		}	
		.schedule-box-2{
			float: left;
			margin-left: 20px;
		}	
		.cut-off-para{
			border:1px solid #c0c0c0 ;
			background-color:#fff;
			padding:5px 10px;
			width: 240px;
			font-family: $f2_regular;
			font-size: 13px;
			color: #a0a0a0;
		}
	}
	.cut-off-date-2{		
		.rum-self-left{
			float: left;
			margin-top: 25px;
		}
		.rum-self-right{
			float: left;
			margin-top: 25px;
			margin-left: 205px;
		}
		.cut-left{
			font-family: $f2_regular;
			font-size: 13px;
			color: #676767;
			text-transform: uppercase;
		}
		.cut-right{
			color: #d00006;
		}
	}
}
.dropdownlist{
	margin-top: 15px;	
	.dropdown-1{
		float: left;		
	}
	.dropdown-2{
		float: left;
		margin-left: 15px;
	}
	.dropdown-selected{
		.select2-container {
			width:242px !important;
			@media(max-width: 1024px){
				width: 220px !important;
			}
			@media(max-width: 992px){
				width: 100% !important;
			}
			.select2-selection{
				background: #ffffff;
				border: 0;
				height: 43px;
				border-radius: 0;
				.select2-selection__rendered{
					padding:7px 10px;
				}						
				.select2-selection__arrow{
					display: none;
				}	
			}
		}
	}
	.sailing-schedule-submit{
		float: left;
		margin-left: 15px;
		a{
			display: inline-block;
			color: #ffffff;
			font-size: 13px;
			font-family:$f2_regular;
			padding: 12px 15px;				
			text-transform: uppercase;
			background-color:#ed9205;
			text-align: center;						
			position: relative;
			overflow: hidden;
			z-index: 1;					
			&:hover{
				&:before{
					left: 0;
				}
			}
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 100%;					
				width: 100%;
				height: 100%;
				background: $logo_bg;
				z-index: -1;
				@include p-web(transition, all 0.5s);
			}
		}
	}
}
.saling-schedule-message{
	font-family:$f2_regular;
	font-size: 13px;
	color:#ed9205;
	margin-top: 10px;
}
.service-bg{
	margin-top: 20px;
	padding-top:45px;
	padding-bottom:5px;
	background-image:url('../img/chau-luc.png');
	background-repeat:no-repeat;
	background-size:cover;
	.service-title{
		font-family: $f2_bold;
		font-size: 24px;
		color: #303030;
		text-transform: uppercase;
		text-align: center;
		background-color:#f0f0f0;				
	}
	.service-line-title{
		width: 80px;
		margin-left: auto;
		margin-right: auto;
		border-top:2px solid #ed9205;
		margin-top: 20px;		
	}
	.service-box{
		margin-top: 45px;
		.owl-carousel-service{
			.service-item{				
				padding:45px 40px;
				a{
					display: block;		
					div{
						transform: rotate(45deg);						
					}			
				}
			}
			.owl-prev{
				position: absolute;
				left: -70px;
				top: 125px;
				background-color: transparent !important;					
			}	
			.owl-next{
				position: absolute;
				right: -70px;
				top: 125px;
				background-color: transparent !important;					
			}
			.owl-nav{
				[class*=owl-]{
					margin: 0;
					color: #5d5d5d;
					border: 1px solid #d3d3d3;
					padding: 3px 9px;
					border-radius: 14px;
					@include p-web(transition,all 900ms);
					&:hover{
						color:#fff;	
						background-color: #e8a61b !important;
						border:1px solid #e8a61b;
					}
				}	
			} 
			.service-item-title{
				text-align: center;
				margin-top: 70px;
				a{
					font-family: $f2_bold;
					font-size: 15px;
					color: #000;
					text-transform: uppercase;														
				}				
			}
		} 
	}
}
.content-bottom{
	margin-top: 40px;
	.content-bottom-title{
		font-family: $f2_bold;
		font-size: 24px;
		color: #000;
		text-transform: uppercase;
		position: relative;
		padding-bottom: 20px;
		&:before{
			content: '';
			position:absolute;
			bottom:0;
			left: 0;
			width:75px;
			border-top:2px solid #ed9205;
		}
	}
	.content-bottom-video{
		margin-top: 30px;
		a{
			display: block;
			position:relative;
			.video-opacity{
				background-color: #00000040;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
			}
			.youtube-play-box{
				position:absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
				display: flex;
				align-items:center;
				justify-content: center;
				.youtube-icon{
					background-image: url('../img/video-play-button.png');
					background-repeat: no-repeat;
					width: 53px;
					height: 53px;
				}				
			}
		}
	}
	.brochure-box{
		float: left;
		position:relative;
		width: 250px;
		height: 305px;
		margin-top: 30px;
		.brochure-title{
			position:absolute;
			bottom:0;
			left: 0;
			background-color:$logo_bg;
			width: 95%;
			padding:20px 5px;
			display: flex;
			justify-content: center;
			align-items:center;			
			&:after{
				content: '';
				position: absolute;
				right: -13px;
				bottom: 0px;
				border-left: 13px solid #0100ca;
				border-bottom: 55px solid #0100ca;
				border-top: 15px solid transparent;
				border-right: 0px solid transparent;
			}
			.brochure-link{
				a{
					font-family: $f2_bold;
					font-size: 17px;
					color: #fff;
					text-transform: uppercase;
					margin-left: 15px;
				}
			}
		}
	}
	.quotation-box{
		float: left;
		position:relative;
		width: 250px;
		height: 305px;
		margin-top: 30px;
		margin-left: 30px;
		.brochure-title{
			position:absolute;
			bottom:0;
			left: 0;
			background-color:#ed9205;
			width: 95%;
			padding:20px 5px;
			display: flex;
			justify-content: center;
			align-items:center;
			&:after{
				content: '';
				position: absolute;
				right: -13px;
				bottom: 0px;
				border-left: 13px solid #ED9205;
				border-bottom: 55px solid #ED9205;
				border-top: 15px solid transparent;
				border-right: 0px solid transparent;
			}
			.brochure-link{
				a{
					font-family: $f2_bold;
					font-size: 17px;
					color: #fff;
					text-transform: uppercase;
					margin-left: 15px;
				}
			}
		}
	}
}
.footer{
	background-color:#2c2e30;
	color: #ffffff;
	font-family: $f2_regular;
	font-size: 13px;
	margin-top: 80px;
	a{
		color: #ffffff;
		font-family: $f2_regular;
		font-size: 13px;
	}
	.footer-col-1{
		margin-top: 30px;
		float: left;
		.footer-title{
			font-family:$f4_semi_bold;
			font-size: 16px;			
			text-transform: uppercase;
		}
		.footer-r{
			margin-top: 15px;
		}
		.footer-tel-fax-email{
			margin-top: 5px;
		}
	}
	.footer-col-2{
		margin-top: 30px;
		float: left;
		margin-left:105px;
		.footer-title{
			font-family:$f4_semi_bold;
			font-size: 16px;			
			text-transform: uppercase;
		}
		.bf-box{
			margin-top: 15px;
			.bf-left{
				float: left;
				width: 190px;
			}
			.bf-right{
				float: left;
				margin-left: 15px;			
			}
		}
		.business-forum{
			margin-top: 15px;
			.business-left{
				float: left;
				width: 190px;
			}
			.business-right{
				float: left;
				margin-left: 15px;
			}
		}
	}	
	.footer-col-3{
		margin-top: 30px;
		float: left;
		margin-left:45px;
		.footer-title{
			font-family:$f4_semi_bold;
			font-size: 16px;			
			text-transform: uppercase;
		}
		.member-partner-box{
			margin-top: 20px;
			.member-row{
				&:last-child{
					margin-top: 10px;
				}
				.parter-item{
					float: left;
					margin-left: 10px;
					width: 60px;
					div{
						border-radius:5px;
					}					
					&:first-child{
						margin-left: 0;
					}
				}
			}
		}
	}
	.footer-bottom{
		border-top:1px solid #3d3e40;
		padding: 20px 0;
		margin-top: 40px;
		.bottom-left{
			float: left;
			.footer-menu{
				list-style: none;
				padding-left:0;
				margin-bottom: 0;
				li{
					float: left;
					border-right: 1px solid #fff;
					padding-left: 5px;
					padding-right: 5px;
					&:first-child{
						padding-left:0;
					}
					&:last-child{
						border-right:0;
					}
					a{
						text-transform: uppercase;
					}
				}
			}
			.chauluc-transport{
				margin-top: 5px;
			}
		}
		.bottom-right{
			float: right;
			width: 40%;
			.connect-us{	
				.ken-us{
					float: right;
				}			
				.social-list{
					list-style: none;
					padding-left:0;
					margin-bottom: 0;
					float: right;
					margin-left: 15px;
					li{
						float: left;
						margin-left: 5px;
						&:first-child{
							margin-left:0;
						}
					}
				}
			}
			.copy-right{
				text-align: right;
				.chauluc-co-ltd{
					a{
						color: #4397f7;
					}					
				}				
			}			
		}
	}
}