.ddsmoothmenu{  
  background:none;
  ul{
    li{
      ul{
        li{
          a{ 
            font-family:$f_regular;
            font-size: 14px;
            text-transform: uppercase;                            
            &:link,&:visited{
              color: #000;
            }          
          }
        }
      }
    }    
  }
  >ul{    
    >li{
      >a{
        font-family: $f2_regular;
          font-size: 14px;
        text-transform: uppercase;               
        background:transparent;                 
        padding: 10px 10px;
        border-right:1px solid #f2f2f2;         
        &:link,&:visited{
          color: #000;
        }                     
        &:hover,&.selected{            
          color: #000;
          background:none;
        } 
        @media (max-width: 1024px){
          padding:15px 5px;  
        }
      }
      &:last-child{
        a{
          border-right: 0;
        }
      } 
      &.current-menu-item{
        >a{          
          color: #000;
        }
      }   
    }
  }
  >ul{
    >li{      
      >ul{
        margin-top: 3px;
        li{
          a{
            border-right: 1px solid darken($ddsmoothmenu_border,2%) ;
            border-bottom: 1px solid darken($ddsmoothmenu_border,2%);
            width: 220px;
            padding: 6px 10px;   
            font-family: $f_bold;                     
            &:hover,&.selected{
              background-color: $logo_bg !important;
              color: $mau;            
            }
          }
          &.current-menu-item{
            a{
              background-color: $logo_bg !important;                           
            }
          }   
        }
      }
    }    
  }  
}